$sans-serif: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
$sans-serif-narrow: 'Space Grotesk', $sans-serif;
$monospace: 'JetBrains Mono', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

$global-font-family: $sans-serif;
$header-font-family: $sans-serif-narrow;
$caption-font-family: $sans-serif;
$monospace-font-family: $monospace;
